#  SPDX-License-Identifier: LGPL-2.1+
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Switch Root
ConditionPathExists=/etc/initrd-release
DefaultDependencies=no
AllowIsolate=yes

# When this target is "isolated", wait for the normal services - which have
# DefaultDependencies=yes and hence After=sysinit.target - to stop *before*
# we switch-root and send SIGKILL to all processes.
Conflicts=sysinit.target
Before=sysinit.target

Wants=initrd-udevadm-cleanup-db.service initrd-root-fs.target initrd-fs.target systemd-journald.service initrd-cleanup.service
After=initrd-udevadm-cleanup-db.service initrd-root-fs.target initrd-fs.target emergency.service emergency.target

Wants=initrd-shutdown-journald.service
Requires=initrd-switch-root.service
After=initrd-shutdown-journald.service initrd-switch-root.service
